fieldset {
    background-color: #edeee7;
    
    gap: 10px;
    margin: 20px !important;
    border: 1 px solid #ccc;	
    border-radius: 2px 2px 2px 2px;
    padding: 20px !important;
}
.btn{
    margin-top: 10px;
    background-color: green !important;
}

.action{
    margin-top: 10px;
    background-color: green !important;
}

input[type="text"]{
    margin-left: 5px !important;
}

form {
    border-radius: 20px 20px;
    padding: 5.0 rem !important;
}

header{
    z-index: 1000;
}

textarea{
    margin: 5px !important;
}


